# Created by .ignore support plugin (hsz.mobi)
/data/q2q_pair.txt
/data/question.csv
/data/question.xls
/data/test.xls
/.idea/
/data/stats
/checkpoints/MVLSTM/vocab
/data/test.txt
/checkpoints/MVLSTM/
/tensorboard_dir/MVLSTM/
/data/testset.txt
/test.log
/train.log
/data/paraphrase_chs.txt
/data/id2label.json
/data/question_label.txt
/data/primary_question_dict.json
/data/paragraph_column.csv
/data/question_merged.csv
